<!DOCTYPE html>
<html>
<head>
  <title>Clinic App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

<header>
</header>

<%= yield %>

<footer>
  <p>&copy; <%= Time.now.year %> Clinic App</p>
</footer>

<script type="module" src="../../javascript/packs/application.js"></script>
</body>
</html>
