<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Clinic App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Add your stylesheets and other head elements here -->
</head>
<body>

<header>
</header>

<%= yield %>

<footer>
  <p>&copy; <%= Time.now.year %> Clinic App</p>
  <!-- Add any footer content or links here -->
</footer>

</body>
</html>
